.private-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
  height: 0; /* necesario para que flex funcione correctamente */
}

.sidenav {
  width: 256px;
  border-right: none;
}

.main-content {
  background-color: var(--sol-bg);
  padding: 24px;

  @media (max-width: 600px) {
    padding: 0;
  }
}
